* {
  margin: 0;
  padding: 0;
}

.container {
  height: 800px;
  width: 800px;
  display: flex;
  flex-direction: row;
  margin: 20px auto;
  border: 1px solid black;
}

.column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: auto;
}

.value {
  flex-grow: 1;
}

.buttonContainer {
  height: 50px;
  width: 800px;
  margin: 20px auto;
}

button {
  padding: 10px;
}
